.menu {
    list-style: none;
    margin: 20px auto 0 auto;
    padding: 0;
    background: #222831;
    border-radius: 12px;
    width: 90%;
    max-width: 1200px;
   
    box-shadow: 3px 3px 7px #222831;
}
.menu li{
    display: inline-block;
}
.menu li a{
    display: block;
    padding: 0.8rem 1.5rem;
    color: #DFD0B8;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.2s ease;
    font-family:'Inter', sans-serif;
    text-shadow: 2px 2px 7px #948979;
    
}
.menu li a:hover{
    background: #393E46;
    color: #DFD0B8; 
    border-radius: 12px;
    transform: scale(1.1); 
    box-shadow: 0px 0px 7px #222831;
     
}
body {
    background: #DFD0B8;
    margin:0;
    padding:0;
}


